#pc-wrap {
	.agent-detail-page {
		position: relative;
		padding: 133px 0 75px;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			.agent-info {
				margin-left: 58px;
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				img {
					margin-right: 32px;
					width: 135px;
					height: 135px;
					border-radius: 50%;
					cursor: pointer;
					object-fit: cover;
				}
				.info {
					display: flex;
					flex-direction: column;
					strong {
						color: #181a20;
						font-family: $font;
						font-size: 24px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						text-transform: capitalize;
						cursor: pointer;
					}
					div {
						margin-top: 13px;
						display: flex;
						flex-direction: row;
						align-items: center;
						img {
							margin-right: 10px;
							width: 16px;
							height: 16px;
						}
						span {
							color: #181a20;
							font-family: $font;
							font-size: 20px;
							font-style: normal;
							font-weight: 400;
							line-height: 28px;
						}
					}
				}
			}
			.agent-home-list {
				position: relative;
				width: 100%;
				margin-top: 33px;
				padding: 0px 0 46px;
				display: flex;
				flex-direction: column;
				border-radius: 12px;
				background: #fff;
				box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
				.card-wrap {
					position: relative;
					margin-top: 35px;
					width: 100%;
					height: auto;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					.wrap-main {
						margin-right: 11px;
						margin-left: 11px;
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
					}
					.agent-card {
						position: relative;
						margin-right: 27px;
						margin-bottom: 34px;
						display: flex;
						flex-direction: column;
						.agent-img {
							border-radius: 12px;
							width: 233px;
							height: 273px;
							background-size: cover;
							cursor: pointer;
							div {
								position: absolute;
								padding: 12px;
								top: 12px;
								left: 12px;
								border-radius: 6px;
								background: #eb6753;
								color: #fff;
								font-family: $font;
								font-size: 12px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
						.agent-info {
							margin-top: 23px;
							display: flex;
							flex-direction: column;
							strong {
								color: #181a20;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								cursor: pointer;
							}
							span {
								color: #181a20;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 400;
								line-height: 28px;
							}
						}
					}
				}
				.pagination {
					display: flex;
					flex-direction: column;
					align-items: center;
					span {
						margin-top: 20px;
						color: #181a20;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
					}
				}
			}
			.review-box {
				position: relative;
				margin-top: 75px;
				padding: 58px 19px;
				width: 95%;
				height: auto;
				border-radius: 24px;
				background: #f6f6f6;
				.main-intro {
					display: flex;
					flex-direction: column;
					span {
						color: #181a20;
						font-family: $font;
						font-size: 30px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						letter-spacing: 0.6px;
						text-transform: capitalize;
					}
					p {
						color: #181a20;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
					}
				}
				.review-wrap {
					padding: 29px 25px;
					margin-top: 57px;
					display: flex;
					flex-direction: column;
					border-radius: 12px;
					background: #fff;
					box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
					.title-box {
						svg {
							width: 10px;
							height: 10px;
						}
						span {
							margin-left: 8px;
							color: #181a20;
							font-family: $font;
							font-size: 17px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
					}
					.review-card {
						margin-top: 20px;
						display: flex;
						flex-direction: column;
						padding-bottom: 10px;
						border-bottom: 1px solid #c4c4c4;
						.info {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							.left {
								display: flex;
								flex-direction: row;
								img {
									width: 55px;
									height: 59px;
									border-radius: 50%;
									object-fit: cover;
								}
								div {
									margin-left: 8px;
									display: flex;
									flex-direction: column;
									strong {
										color: #181a20;
										font-family: $font;
										font-size: 15px;
										font-style: normal;
										font-weight: 600;
										line-height: normal;
									}
									span {
										margin-top: 4px;
										color: #181a20;
										font-family: $font;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
									}
								}
							}
							.right {
								display: flex;
								flex-direction: row;
								svg {
									color: #edf023;
								}
							}
						}
						p {
							margin-top: 10px;
							color: #181a20;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 26px;
						}
					}
					.pagination-box {
						margin-top: 15px;
						width: 100%;
						height: auto;
						display: flex;
						justify-content: center;
					}
				}
				.leave-review-config {
					margin-top: 15px;
					border-radius: 12px;
					background: #fff;
					box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
					padding: 30px 38px;
					.main-title {
						color: #181a20;
						font-family: $font;
						font-size: 17px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
					}
					.review-title {
						margin-top: 20px;
						color: #181a20;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
					}
					textarea {
						width: 100%;
						height: 120px;
						margin-top: 8px;
						padding: 20px;
						border-radius: 8px;
						border: 1px solid #ddd;
						color: #717171;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
					}
					.submit-btn {
						width: 100%;
						display: flex;
						justify-content: flex-end;
						button:disabled {
							background: #dfdfdf;
						}
						.submit-review {
							display: flex;
							width: 256px;
							margin-top: 30px;
							padding: 16px 30px;
							justify-content: center;
							align-items: center;
							gap: 10px;
							border-radius: 12px;
							border: 1px solid #c4c4c4;
							cursor: pointer;
							.title {
								color: #181a20;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
					}
				}
			}
		}
	}
}
